In [2]:
# 1번
nums = [100, 200, 300, 400, 500]
#nums = nums[:3]

[100, 200, 300]

In [4]:
# 2번
l = [200, 100, 300]
l.insert(2, 10000)
print(l)

[200, 100, 10000, 300]

In [ ]:
# 3번
# 3)  class 'list'

# 정답은 '3번'입니다.

In [5]:
# 4번
# 3)  입력 : a = 'p',   출력 : class 'char'

# class 'str' 이 맞는 출력값입니다

# 정답은 '3번'입니다.

In [7]:
# 5번
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a + b)

16

In [8]:
# 6번
# 2)  1

# 정답은 '2번'입니다.

In [ ]:
# 7번
# 3)  as
# 5)  lage

# 정답은 '3번', '5번' 입니다.

In [9]:
# 8번
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])
# 정답은 '84' 입니다.

84

In [12]:
# 10번
n = int(input())
for i in range(1,n+1):
	print(" "*(n-i)+("*"*(2*i-1)))
#           공백         별

    *
   ***
  *****
 *******
*********

In [13]:
 # 11번
s = 0

for i in range(101):
    s += i

print(s)

5050

In [20]:
# 12번
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor

    def attack(self):
        print('파이어볼')

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [21]:
# 13번
planets = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

n = int(input()) - 1
print(planets[n])

화성

In [36]:
# 14번
n = int(input())

if n % 3 == 0:
    print("짝")
else:
    print(n)

14

In [27]:
# 15번
name = str(input())
print(f'안녕하세요. 저는 {name}입니다.')

안녕하세요. 저는 김다정입니다.

In [31]:
# 16번
n = input()
print(n[::-1])

요세하녕안

In [34]:
# 17번
height = int(input())
if (height >= 150):
    print("Yes")
else:
    print("No")

Yes

In [38]:
# 18번
grade = sum(list(map(int, input().split())))//3
grade

20

In [40]:
# 19번
data = list(map(float, input().split()))
data[0] ** data[1]

12.166999999999998

In [41]:
# 20번
data = list(map(float, input().split()))

data[0] // data[1], data[0] % data[1]

# divmod(data[0], data[1])   몫 과 나머지 한번에 출력해주는 메서드 divmod

(5.0, 0.0)

In [43]:
# 21번
# 2)  x = { }

# 정답은 '2번'입니다.

In [ ]:
# 22번
# 2)  i % 6 == 0

# 정답은 '2번'입니다.

In [ ]:
# 23번
# X

# 정답은 'X'입니다.

In [44]:
# 24번
n = input()
print(n.upper())

MARY

In [46]:
# 25번
def Radius(n):
    return n * n * 3.14

print(Radius(int(input())))

28.26

In [47]:
# 26번
planets = {
	'수성' : 'Mercury',
	'금성' : 'Venus',
	'지구' : 'Earth',
	'화성' : 'Mars',
	'목성' : 'Jupiter',
	'토성' : 'Saturn',
	'천왕성' : 'Uranus',
	'해왕성' : 'Neptune',
}

name = input()
print(planets[name])

# name = input()              없는 값 입력해서 get 메서드는 에러 안냄
# planets.get(name, '값 없음')

Mercury

In [51]:
# 27번
keys = input().split()
values = map(int, input().split())

result = dict(zip(keys, values))
print(result)

{'호준': 10, '성현': 20}

In [54]:
# 28번
data = input()

# for i in range(len(data) - 1):
# 	print(data[i], data[i+1])
	
for i in range(1, len(data)):
	print(data[i-1] + data[i])

ji
in
ne
eo
on
ng
gh
hy
ye
eo
on

In [56]:
# 29번
data = input()

if data.isupper():
	print("YES")
else:
	print("NO")

YES

In [60]:
# 30번
data = input()
word = input()

if word in data:
    print(data.find(word))

6

In [ ]:
# 31번
# 3)  l[a:b]

# 정답은 '3번'입니다.

In [66]:
# 32번
# s = '안녕하세요.             저는 제주대학교 컴퓨터공학전공 혜림입니다.'
# split_words = s.split(" ")
# len(split_words)

s = '안녕하세요.             저는 제주대학교 컴퓨터공학전공 혜림입니다.'
split_words = s.split(" ")
for i in range(split_words.count(" ")):
    split_words.remove(" ")

split_words

['안녕하세요.',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '저는',
 '제주대학교',
 '컴퓨터공학전공',
 '혜림입니다.']

In [67]:
# 33번
data = input()
list(data.split(" "))[::-1]

['30', '20', '10']

In [69]:
# 34번
keys = input()

l = [float(i) for i in keys.split(" ")]

if l != sorted(l):
    print('No')
else:
    print("Yes")

Yes

In [70]:
# 35번
def one(n):
    def two(value):
        sq = value ** n
        return sq
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [73]:
# 36번
n = int(input())
for i in range(1, 10):
	print(n*i, end = ' ')

5 10 15 20 25 30 35 40 45

In [74]:
# 37번
data = input().split()
data_set = set(data)
data_dict = {}
for key in data_set:
    data_dict[key] = data.count(key)

print(f'{max(data_dict, key=data_dict.get)}(이)가 총 {max(data_dict.values())}표로 반장이 되었습니다.')

ㅎ(이)가 총 4표로 반장이 되었습니다.

In [ ]:
# 38번
data = input().split()
data = [int(i) for i in data]

count = 0

if len(set(data)) <= 3:
    count = len(data)
else:
    break_point = sorted(list(set(data)), reverse=True)[3]
    data_sorted = sorted(data, reverse=True)
    for i in data_sorted:
        if break_point == i:
            break
        else:
            count += 1

print(count)

In [76]:
# 39번
data = input()

print(data.replace('q', 'e').replace('b', 'n'))

# import re
# data = re.sub('q', 'e', data)
# print(re.sub('q', 'e', data))

hello my name is hyewon

In [ ]:
# 40번
# total = 0
# count = 0
# limit = int(input('제한무게는 얼마인가요? : '))
# n = int(input('몇명이 탈 수 있나요? : '))
 
# for i in range(n):
#     total += int(input('몸무게를 입력해주세요 : '))
#     if total <= limit:
#         count += 1

        
# print(count)

#############################

# 제한무게 = int(input())
# 친구수 = int(input())
# 친구몸무게 = []
# for i in range(친구수):
#     친구몸무게.append(int(input()))

# 전체몸무게 = 0
# for i in range(len(친구몸무게)):
#     전체몸무게 += 친구몸무게[i]
#     print(전체몸무게, 제한무게)
#     if 전체몸무게 > 제한무게:
#         print(i)
#         break

################################
제한무게 = float(input())
친구수 = int(input())
친구몸무게 = []
전체몸무게 = 0
제한수 = 0
비교 = True

for i in range(친구수):
    친구몸무게.append(float(input()))
    전체몸무게 += 친구몸무게[i]
    if 전체몸무게 > 제한무게:
        if 비교:
            비교 = False
            제한수 = i
if 제한수 == 0 and 친구몸무게[0] <= 제한무게:
    print(len(친구몸무게))
else:
    print(제한수)

In [79]:
# 41번
#인터넷에서 에라토스테네스의 체를 검색해보시고, 에라토스테네스의 체를 구현해보세요.

x = 7
if x <= 1:
    print('소수가 아닙니다.')
elif x == 2:
    print('소수입니다.')
else:
    for i in range(2, x):
        if x % i == 0:
            print('소수가 아닙니다.')
            break
    else:
        print('소수입니다.')

소수입니다.

In [82]:
# 42번
import datetime

m = int(input())
d = int(input())

def findDay(a, b):
    day = ["MON","TUE","WED","THU","FRI","SAT","SUN"]
    return day[datetime.date(2024, a, b).weekday()]

print(findDay(m, d))

TUE

In [83]:
# 43번
a = int(input())
b = []

while a:
    print(a)
    b.append(str(a % 2))
    a = int(a / 2)

print(b)
b.reverse()
print(b)
print(''.join(b))

10
5
2
1
['0', '1', '0', '1']
['1', '0', '1', '0']
1010

In [85]:
# 44번
result = 0
for i in input():
    result += int(i)

print(result)

15

In [88]:
# 45번
import time
t = time.time()
t = t // (365*24*60*60) + 1970
print(int(t))

2024

In [89]:
# 46번
s = ''
for i in range(101):
    s += str(i)
print(s)

result = 0
for i in s:
    result += int(i)
print(result)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100
901

In [90]:
# 47번
people = [
         ('이호준', '01050004429'),
         ('이호상', '01051442904'),
         ('이준호', '01050003429'),
         ('이호준', '01050004429'),
         ('이준', '01050412904'),
         ('이호', '0105000443904'),
         ('이호준', '01050004429'),
         ]

print(len(set(people)))

5

In [91]:
# 48번
a = input()
b = []

for i in a:
    if i.islower():
        b.append(i.upper())
    else:
        b.append(i.lower())

''.join(b)

'AAAAABBcccc'

In [95]:
# 49번
data = list(map(int, input().split()))
sorted(data, reverse=True)[0]
# max(data)

31

In [ ]:
# 50번
def bubble(n, data):
	for i in range(n-1):
		for j in range(n-i-1):
			if data[j] > data[j+1]:
				data[j], data[j+1] = data[j+1], data[j]
	for i in range(n):
		print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)